.c-main
  background-color background
  //color #FFF
  section
    margin-right auto
    margin-left auto
    padding-left 15px
    padding-right 15px
    max-width max-width

.c-exhibit
  display none

.featured-exhibits--show
  .c-main
    display none
    visibility hidden

  .c-exhibit
    display block