.f-main 
  background-color culturebook
  padding-top 50px
  padding-bottom 50px

  .f-logo 
    margin auto auto 50px auto
    display block
  

  .f-social-links 
    margin auto
    display table

    a 
      padding 5px 10px
      display inline-block
    
    svg 
      fill#FFF
    
  

  section 
    margin-right auto
    margin-left auto
    padding-left 15px
    padding-right 15px
    max-width max-width
  

  h4 
    text-align center
    color #FFF
    font-size 12px
    margin-bottom 25px
  

