#app {
  height: 100%;
}
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  text-rendering: optimizeLegibility;
}
.burger--sm {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  padding: 15px;
}
.burger--sm img {
  width: 30px;
  height: auto;
  display: block;
}
.state--menu-open .burger--sm i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.hamburger-label {
  position: absolute;
  z-index: 10;
  left: 50px;
  top: -5px;
  font-size: 50px;
  cursor: pointer;
  color: #000;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  display: block;
  text-align: center;
}
.hamburger-label:focus,
.hamburger-label:hover {
  color: #b11f29;
}
.hamburger-checkbox {
  position: absolute;
  opacity: 0;
}
.hamburger-checkbox:checked ~ .hamburger-label {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #fff;
  left: 50px;
  top: 55px;
}
.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  background-color: transparent;
  padding: 0;
  border: 0;
  text-align: left;
}
.featured a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.featured h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 600;
}
.featured p {
  font-size: 14px;
}
.featuredhover {
  text-decoration: none;
  color: #000;
}
.featured-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.featured-info {
  background-color: #fff;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 3px 3px 5px #d2d2d2;
          box-shadow: 3px 3px 5px #d2d2d2;
}
.featured-info-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
}
.featured-medium {
  width: 100%;
}
@media (min-width: 480px) {
  .featured-medium {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (min-width: 768px) {
  .featured-medium {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
.featured-medium-image {
  height: 280px;
}
.featured-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.featured__slider {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header {
  position: relative;
  z-index: 1;
}
.hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  height: 400px;
  height: 50vh;
  background-color: #b11f29;
  background-size: cover;
  background-image: url("../images/PANO_20150214_145911-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
  -webkit-transition: opacity 400ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 400ms cubic-bezier(0.4, 0, 1, 1);
}
@media (min-width: screen-sm-min) {
  .hero {
    height: 55vh;
  }
}
.hero p {
  margin-left: auto;
  text-align: left;
}
@media (min-width: screen-sm-min) {
  .hero p {
    font-size: 20px;
  }
}
.hero-logo {
  fill: #fff;
  width: 260px;
  height: auto;
  margin: auto auto 15px 0;
  display: block;
}
@media (min-width: screen-sm-min) {
  .hero-logo {
    width: 400px;
  }
}
@media (min-width: screen-md-min) {
  .hero-logo {
    width: 500px;
  }
}
.hero-content {
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
.hero-overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
}
.icon-small {
  display: block;
  width: 25px;
  height: auto;
}
.icon-chevron-down {
  position: absolute;
  right: 0;
  bottom: 0;
}
.menu {
  position: fixed;
  right: inherit;
  z-index: 2;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(-100%, 0px, 0px);
          transform: translate3d(-100%, 0px, 0px);
  background-color: #373a47;
  background-repeat: no-repeat;
  background-position: 20px 15px;
  background-size: 30px auto;
  background-image: url("../images/culturebook-small-white.svg");
  top: 0;
}
.menu-box {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}
.menu button {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 20px;
  color: #fff;
  background-color: transparent;
border0
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 0;
}
.hamburger-checkbox:checked ~ .menu {
  -webkit-transform: translate3d(0, 0px, 0px);
          transform: translate3d(0, 0px, 0px);
}
.hamburger-checkbox:checked ~ .menu-overlay {
  -webkit-animation: fadeInFromNone 0.5s ease-in-out;
          animation: fadeInFromNone 0.5s ease-in-out;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  opacity: 1;
  top: 0;
}
.no-js .menu {
  position: relative;
  transformn: one;
  top: auto;
  right: auto;
  width: auto;
  height: auto;
}
.no-js .menu button {
  display: none;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.nav {
  font-size: 16px;
}
@media (min-width: screen-sm-min) {
  .nav {
    font-size: 18px;
  }
}
.nav-pills {
  padding: 75px 15px;
  margin-bottom: 0;
}
.nav-pills li {
  list-style: none;
}
.nav-pills li a {
  color: #fff;
  padding: 8px 5px;
  display: block;
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}
.nav-pills li a:hover {
  background-color: #b11f29;
  color: #fff;
}
.nav-pills li a:focus {
  background-color: #000;
  color: #fff;
}
.nav-pills hr {
  border-color: #fff;
}
.nav-profile {
  border-bottom: 1px solid #dbdbdb;
}
.nav-profile button {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  padding: 12px 5px;
  font-weight: 600;
}
@media (min-width: screen-sm-min) {
  .nav-profile button {
    padding: 12px 10px;
  }
}
.nav-profile button.selected,
.nav-profile buttonfocus,
.nav-profile buttonhover {
  border-bottom: 2px solid #b11f29;
  color: #b11f29;
}
.nav-profile button sup {
  top: -2px;
}
.c-main section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
.c-main {
  background-color: #efefef;
}
.c-main section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
.c-exhibit {
  display: none;
}
.featured-exhibits--show .c-main {
  display: none;
  visibility: hidden;
}
.featured-exhibits--show .c-exhibit {
  display: block;
}
.f-main {
  background-color: #b11f29;
  padding-top: 50px;
  padding-bottom: 50px;
}
.f-main .f-logo {
  margin: auto auto 50px auto;
  display: block;
}
.f-main .f-social-links {
  margin: auto;
  display: table;
}
.f-main .f-social-links a {
  padding: 5px 10px;
  display: inline-block;
}
.f-main .f-social-links svg {
  fill: #fff;
}
.f-main section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
.f-main h4 {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-bottom: 25px;
}
.exhibit img {
  width: 100%;
  display: block;
  margin: auto;
  height: auto;
}
@media (max-width: 991px) {
  .exhibit-feature,
  .exhibit-feature.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
    max-height: 300px;
    max-height: 60vh;
  }
}
.exhibit-content {
  background-color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.row:after,
.row:before {
  content: "";
  display: block;
  clear: both;
}
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
@media (min-width: 768px) {
  .col-sm-4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.3333333333%;
            flex: 1 0 33.3333333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 66.6666666667%;
            flex: 1 0 66.6666666667%;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.exhibitTabs ul {
  border-bottom: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.exhibitTabs li {
  padding: 12px 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  cursor: pointer;
}
.exhibitTabs li.react-tabs__tab--selected {
  border-bottom: 2px solid #b11f29;
  color: #b11f29;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  font-size: 18px;
}
img {
  display: block;
  height: auto;
  margin: auto;
}
