// Import all partials
@require './_*.styl'

body
    font-family primaryFont
    font-size 14px
    line-height 1.428571429
    color #333333
    background-color #fff
    font-size 18px

img 
    display block
    height auto
    margin auto